@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

/*-----VARIABLES -----*/
/*----Typography -----*/

:root {
  --font-family-main: Spartan, sans-serif;
}

/*----colors -----*/
:root {
  --primary-color-verydark-magenta: hsl(300, 43%, 22%);
  --primary-color-soft-pink: hsl(333, 80%, 67%);
  --secondary-color-darkgray-magenta: hsl(303, 10%, 53%);
  --secondary-color-lighgray-magenta: hsl(300, 24%, 96%);
  --secondary-color-white: #fff;
}

/*-----LAYOUT CLASSES -----*/
.v-flex {
  display: flex;
  flex-direction: column;
}
.h-flex {
  display: flex;
  flex-direction: row;
}
.a-i-c {
  align-items: center;
}
.j-i-c {
  justify-content: center;
}

.a-s-c {
  align-self: center;
}
.a-s-e {
  align-self: flex-end;
}
.a-s-s {
  align-self: flex-start;
}

/*-----CLEANERS-----*/

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: var(--font-family-main);
  display: grid;
  justify-items: center;
  align-items: center;
  overflow-x: hidden;

  height: 100vh;
}
.container {
  display: grid;
  width: 80vw;
  height: 100vh;
  padding: 10px;
  position: relative;
}
.container__shape-top {
  position: absolute;
  top: 0;
  left: -5em;
}
.container__shape-bottom {
  position: absolute;
  bottom: -20%;
  left: 20%;
  height: 40px;
  width: 50%;
  object-fit: cover;
}

/*-----HEADER-----*/
.header {
  margin-top: 8rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
.header__left {
  flex: 1;
}
.header__left h1 {
  color: var(--primary-color-verydark-magenta);
  font-size: 3rem;
  margin-bottom: 1rem;
}
.header__left p {
  font-size: 0.9rem;
  line-height: 2rem;
  columns: var(--secondary-color-lighgray-magenta);
}
.header__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-flow: column nowrap;
  height: 100%;
}
.header__right-box {
  padding: 0.2rem;
  background-color: #f7f2f8;
  width: fit-content;
  padding: 1rem 2rem;
  color: var(--primary-color-verydark-magenta);
  font-weight: 800;
  font-size: 0.8rem;
  margin-top: 1.4rem;
  border-radius: 7px;
}
.header__right-box span {
  font-size: 1rem;
  margin-right: 1rem;
  letter-spacing: 0.6rem;
  color: #e49853;
}

/*-----MAIN----*/
.main {
  display: flex;
  height: 280px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.main__card {
  flex: 1;
  background-color: var(--primary-color-verydark-magenta);
  padding: 25px;
  color: #ccb1d0;
  border-radius: 7px;
  font-size: 0.75rem;
  line-height: 1.5rem;
}
.main__card:not(:last-child) {
  margin-right: 1.7rem;
}
.main__card-top {
  display: flex;
  margin-bottom: 1rem;
}
.main__card-img {
  border-radius: 50%;
  width: 40px;
  height: 100%;
  object-fit: cover;

  margin-right: 1rem;
  object-fit: contain;
}
.main__card-top p {
  font-weight: 800;
  color: white;
  line-height: 1.3rem;
}
.main__card-top > p > span {
  font-weight: 400;
  color: var(--primary-color-soft-pink);
}

.attribution {
  margin-top: 1rem;
}

@media only screen and (max-width: 1100px) {
  .container {
    width: 85vw;
  }
  .header {
    padding: 0;
    margin-bottom: 1rem;
  }
  .header__left h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .header__left p {
    font-size: 0.8rem;
    line-height: 1.8rem;
  }
  .header__right-box {
    padding: 0.2rem;
    width: fit-content;
    padding: 0.8rem 1.5rem;
    font-size: 0.7rem;
  }
  .header__right-box span {
    font-size: 0.8rem;
    margin-right: 0.8rem;
    letter-spacing: 0.4rem;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: 90vw;
    position: relative;
  }
  .header__left h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .header__left p {
    font-size: 0.7rem;
    line-height: 1.5rem;
  }
  .header__right-box {
    padding: 0.2rem;
    padding: 0.8rem 1rem;
    font-size: 0.7rem;
  }
  .header__right-box span {
    margin-right: 0.5rem;
    letter-spacing: 0.3rem;
  }
  .main__card {
    padding: 15px;

    font-size: 0.6rem;
    line-height: 1rem;
  }
  .container__shape-bottom {
    position: fit;
    bottom: 0;
    left: 0;
  }
}

@media only screen and (max-width: 720px) {
  .container {
    width: 95vw;
    position: relative;
  }
  .header__left h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .header__left p {
    font-size: 0.6rem;
    line-height: 1.5rem;
  }
  .header__right-box {
    padding: 0.2rem;
    padding: 0.6rem 0.6rem;
    font-size: 0.6rem;
  }
  .header__right-box span {
    margin-right: 0.3rem;
    letter-spacing: 0.2rem;
  }
  .header__left {
    flex: 0.7;
  }
}

@media only screen and (max-width: 575px) {
  .main__card {
    padding: 12px;

    font-size: 0.5rem;
    line-height: 1rem;
  }
  .main__card:not(:last-child) {
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 490px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .header {
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  .header__left {
    text-align: center;
  }
  .header__right-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .header__right-box span {
    margin-bottom: 0.5rem;
  }
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    flex: 1;
    margin-top: 5rem;
  }
  .main__card {
    margin: 1rem 0;
    width: 100%;
    align-self: center;
    justify-self: center;
    font-size: 0.7rem;
    padding: 20px;
  }
  .main__card:first-child {
    margin-top: 10rem;
  }
  .a-s-c,
  .a-s-e,
  .a-s-s {
    align-self: stretch;
  }
  .attribution {
    position: fixed;
    bottom: 10px;
  }
}
